-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "PartCategory" AS ENUM ('GPU', 'CPU', 'RAM', 'SSD', 'HDD', 'MOTHERBOARD', 'PSU', 'CASE', 'COOLER', 'MONITOR', 'OTHER');

-- CreateEnum
CREATE TYPE "SnapshotSource" AS ENUM ('DANAWA', 'JOONGNA', 'BUNJANG', 'NAVER_CAFE', 'MANUAL', 'SEED');

-- CreateEnum
CREATE TYPE "PartCondition" AS ENUM ('NEW', 'LIKE_NEW', 'GOOD', 'FAIR', 'POOR');

-- CreateEnum
CREATE TYPE "BatchStatus" AS ENUM ('PENDING', 'RUNNING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "ListingInputType" AS ENUM ('URL', 'TEXT_PASTE', 'MANUAL');

-- CreateEnum
CREATE TYPE "ParseStatus" AS ENUM ('PENDING', 'SUCCESS', 'PARTIAL', 'FAILED');

-- CreateEnum
CREATE TYPE "ValuationType" AS ENUM ('FULL_PC', 'SINGLE_PART', 'BUYER_CHECK');

-- CreateEnum
CREATE TYPE "AdjustmentType" AS ENUM ('CONDITION', 'AGE', 'MARKET_TREND', 'BUNDLE', 'CUSTOM');

-- CreateTable
CREATE TABLE "parts" (
    "id" TEXT NOT NULL,
    "category" "PartCategory" NOT NULL,
    "brandName" TEXT NOT NULL,
    "modelName" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "specJson" JSONB,
    "releaseYear" INTEGER,
    "msrpKrw" INTEGER,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "parts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "part_aliases" (
    "id" TEXT NOT NULL,
    "partId" TEXT NOT NULL,
    "alias" TEXT NOT NULL,
    "source" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "part_aliases_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "import_batches" (
    "id" TEXT NOT NULL,
    "source" "SnapshotSource" NOT NULL,
    "status" "BatchStatus" NOT NULL DEFAULT 'PENDING',
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "recordCount" INTEGER,
    "errorLog" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "import_batches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "price_snapshots" (
    "id" TEXT NOT NULL,
    "partId" TEXT NOT NULL,
    "batchId" TEXT,
    "sourceType" "SnapshotSource" NOT NULL,
    "sourceUrl" TEXT,
    "priceKrw" INTEGER NOT NULL,
    "condition" "PartCondition",
    "rawText" TEXT,
    "capturedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "price_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "listings" (
    "id" TEXT NOT NULL,
    "inputType" "ListingInputType" NOT NULL,
    "rawText" TEXT,
    "sourceUrl" TEXT,
    "parseStatus" "ParseStatus" NOT NULL DEFAULT 'PENDING',
    "parseError" TEXT,
    "parsedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "listings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "listing_part_matches" (
    "id" TEXT NOT NULL,
    "listingId" TEXT NOT NULL,
    "partId" TEXT,
    "rawPartText" TEXT NOT NULL,
    "confidence" DOUBLE PRECISION,
    "matchMethod" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "listing_part_matches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "valuation_runs" (
    "id" TEXT NOT NULL,
    "runType" "ValuationType" NOT NULL,
    "listingId" TEXT,
    "inputSpecJson" JSONB,
    "askingPriceKrw" INTEGER,
    "totalFairLow" INTEGER,
    "totalFairMid" INTEGER,
    "totalFairHigh" INTEGER,
    "verdict" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "valuation_runs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "valuation_items" (
    "id" TEXT NOT NULL,
    "valuationRunId" TEXT NOT NULL,
    "partId" TEXT,
    "rawPartLabel" TEXT,
    "fairLowKrw" INTEGER,
    "fairMidKrw" INTEGER,
    "fairHighKrw" INTEGER,
    "adjustmentsApplied" JSONB,
    "snapshotIds" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "valuation_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "adjustment_rules" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "PartCategory",
    "ruleType" "AdjustmentType" NOT NULL,
    "conditionKey" TEXT,
    "conditionValue" TEXT,
    "multiplier" DOUBLE PRECISION,
    "flatOffsetKrw" INTEGER,
    "priority" INTEGER NOT NULL DEFAULT 50,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "adjustment_rules_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "parts_category_isActive_idx" ON "parts"("category", "isActive");

-- CreateIndex
CREATE INDEX "parts_fullName_idx" ON "parts"("fullName");

-- CreateIndex
CREATE UNIQUE INDEX "parts_category_brandName_modelName_key" ON "parts"("category", "brandName", "modelName");

-- CreateIndex
CREATE INDEX "part_aliases_alias_idx" ON "part_aliases"("alias");

-- CreateIndex
CREATE UNIQUE INDEX "part_aliases_partId_alias_key" ON "part_aliases"("partId", "alias");

-- CreateIndex
CREATE INDEX "import_batches_source_status_idx" ON "import_batches"("source", "status");

-- CreateIndex
CREATE INDEX "import_batches_createdAt_idx" ON "import_batches"("createdAt");

-- CreateIndex
CREATE INDEX "price_snapshots_partId_capturedAt_idx" ON "price_snapshots"("partId", "capturedAt" DESC);

-- CreateIndex
CREATE INDEX "price_snapshots_batchId_idx" ON "price_snapshots"("batchId");

-- CreateIndex
CREATE INDEX "price_snapshots_capturedAt_idx" ON "price_snapshots"("capturedAt" DESC);

-- CreateIndex
CREATE INDEX "listings_parseStatus_idx" ON "listings"("parseStatus");

-- CreateIndex
CREATE INDEX "listings_createdAt_idx" ON "listings"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "listing_part_matches_listingId_idx" ON "listing_part_matches"("listingId");

-- CreateIndex
CREATE INDEX "listing_part_matches_partId_idx" ON "listing_part_matches"("partId");

-- CreateIndex
CREATE UNIQUE INDEX "valuation_runs_listingId_key" ON "valuation_runs"("listingId");

-- CreateIndex
CREATE INDEX "valuation_runs_runType_idx" ON "valuation_runs"("runType");

-- CreateIndex
CREATE INDEX "valuation_runs_createdAt_idx" ON "valuation_runs"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "valuation_items_valuationRunId_idx" ON "valuation_items"("valuationRunId");

-- CreateIndex
CREATE INDEX "valuation_items_partId_idx" ON "valuation_items"("partId");

-- CreateIndex
CREATE UNIQUE INDEX "adjustment_rules_name_key" ON "adjustment_rules"("name");

-- CreateIndex
CREATE INDEX "adjustment_rules_isActive_priority_idx" ON "adjustment_rules"("isActive", "priority");

-- CreateIndex
CREATE INDEX "adjustment_rules_category_ruleType_idx" ON "adjustment_rules"("category", "ruleType");

-- AddForeignKey
ALTER TABLE "part_aliases" ADD CONSTRAINT "part_aliases_partId_fkey" FOREIGN KEY ("partId") REFERENCES "parts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "price_snapshots" ADD CONSTRAINT "price_snapshots_partId_fkey" FOREIGN KEY ("partId") REFERENCES "parts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "price_snapshots" ADD CONSTRAINT "price_snapshots_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "import_batches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "listing_part_matches" ADD CONSTRAINT "listing_part_matches_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES "listings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "listing_part_matches" ADD CONSTRAINT "listing_part_matches_partId_fkey" FOREIGN KEY ("partId") REFERENCES "parts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "valuation_runs" ADD CONSTRAINT "valuation_runs_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES "listings"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "valuation_items" ADD CONSTRAINT "valuation_items_valuationRunId_fkey" FOREIGN KEY ("valuationRunId") REFERENCES "valuation_runs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "valuation_items" ADD CONSTRAINT "valuation_items_partId_fkey" FOREIGN KEY ("partId") REFERENCES "parts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

